html, body{
  font-family: 'Comfortaa';
  color: white;
  font-size: 48px;
  background: rgb(10, 10, 15);
}

.ChatContainer{
  position:absolute;
  border: 1px solid rgb(234, 234, 181);
  border-radius: 10px;
  padding: 30px;
  width: 95%;
  height: 88%;
  text-align: center;
}

.TitleContainer{
  position:relative;
  top: 35%;
  margin-left: 0%;
  opacity: 0;
  animation-name: fadeOut;
  animation-timing-function: ease-out;
  animation-duration: 2s; 
}

.EnterContainer{
  position: relative;
  top: 15%;
  opacity: 0;
  animation-name: fadeInOut;
  animation-duration: 4s;
  animation-delay: 2s;
}

.form-control {
  position: relative;
  bottom: 10vh;
  left: 65vh;
  width: 20%;
  margin: 10x;
  animation-name: hidden;
  animation-duration: 6s;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px #fff solid;
  margin-bottom: 40%;
  width: 30vw;
  height: 40vh;
  text-align: center;
  font-size: 36px;
  font-family: 'Comfortaa';
  color: #fff;
  animation-name: fadeIn;
  animation-delay: 6s;
  animation-duration: 2s;
} 

.form-control input:focus,
.form-control input:valid {
  outline: 1;
  height: 100px;
  width:500px;
}


@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0; 
  }
}

@keyframes hidden{
  0%{
    visibility: hidden;
  }
  100%{
    visibility: hidden;
  }
}

@keyframes fadeIn{
  0% {
    opacity: 0; 
  }
  100% {
    visibility: visible;
    opacity: 1; 
  }
}

@keyframes fadeInOut {
  0% {
    visibility: hidden;
    opacity: 0; 
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0; 
  }
}